#!/bin/sh

if command -v brew >/dev/null 2>&1; then
  export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-$HOME/.config}"
  echo "Installing Homebrew packages from Brewfile..."
  brew bundle --file="{{ .chezmoi.sourceDir }}/Brewfile"
fi
