{
    "settings": {
        "bzdirfilter_add": [
            {"dir": "{{ .chezmoi.homeDir }}/.cache", "whichfiles": "none"},
            {"dir": "{{ .chezmoi.homeDir }}/.config/colima/_lima", "whichfiles": "none"},
            {"dir": "{{ .chezmoi.homeDir }}/Developer/ghostVMs", "whichfiles": "none"},
            {"dir": "{{ .chezmoi.homeDir }}/Downloads", "whichfiles": "none"},
            {"dir": "{{ .chezmoi.homeDir }}/Library/Application Support/org.ghostvm.GhostVM", "whichfiles": "none"}
        ]
    }
}
